table {
    border-collapse:collapse;
    }
    td, th{
    border: 1px solid black;
    padding: 3px;
    }
    th{
    background-color: lightgray;
    }

    tbody tr:nth-child(odd){
        background-color: green;
        color: white;
        }
        tbody tr:hover{
        background-color: lightgray;
        cursor: pointer;
        }